[client]
ssl-ca=/etc/certs/ca.pem
ssl-cert=/etc/certs/client-cert.pem
ssl-key=/etc/certs/client-key.pem

default-character-set=utf8


[mysqld]            
ssl-ca=/etc/certs/ca.pem
ssl-cert=/etc/certs/server-cert.pem
ssl-key=/etc/certs/server-key.pem

## max_connections should be tuned by the maximum number of edges deployed. Formula (edgeCount * 300);                                                                                                                   
max_connections=300

## character set settings
character-set-server=utf8
collation-server=utf8_general_ci
init_connect='set names utf8'

## tuning
table_open_cache=256
wait_timeout=31536000
query_cache_size=1M
innodb_buffer_pool_size=32M
innodb_log_buffer_size=1M
read_buffer_size=1M
sort_buffer_size=4M
innodb_thread_concurrency=0
innodb_data_file_path=ibdata1:200M;ibdata2:10M:autoextend
innodb_log_file_size=5M
innodb_autoextend_increment=100M
# Flush all changes to disk after each SQL statement.
flush

## options
skip-external-locking
ansi
transaction-isolation=READ-COMMITTED
explicit_defaults_for_timestamp

## Logging
log_error=/var/log/mysql/mysql_error.log
general_log_file=/var/log/mysql/mysql.log
general_log=1
slow_query_log
slow_query_log_file=/var/log/mysql/mysql_slow.log
long_query_time=4








